html,
body {
  margin: 0;
  padding: 0;
  }
#starT{
  background-image: url(./recursos/mainScreen.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}